@{
    ViewData["Title"] = "Admin Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome Admin!</h1>
    <p class="lead">Make other poeple's day by adding more cars!</p>
    <a class="btn btn-primary btn-lg" href="/Cars/Search">Add more wheels</a>
</div>
