@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Wheelie - Your Favorite Car Rental System!</h1>
    <p class="lead">Find the perfect car for your journey.</p>
    <a class="btn btn-primary btn-lg" href="/Cars/Search">Get Started</a>
</div>
