<AuthorizeView>
    <Authorized>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Wheelie</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a id="manage" class="nav-link text-dark"href="/Identity/Account/Manage/Index" title="Manage">Account</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </Authorized>
    <NotAuthorized>
        <li class="nav-item">
            <a id="login" class="nav-link text-dark" href="/Identity/Account/Login" title="Login">Login</a>
        </li>
    </NotAuthorized>
</AuthorizeView>

